#con{
   
    font-style: italic;
    max-width: 1200px;
    margin: auto;
    padding: 50px 20px 20px 20px ;
    border: 1px solid lightslategray;
    box-shadow: 7px 9px 5px rgb(27, 10, 68);
    border-radius: 2px;
}

#fejlec{
    
    text-align: center;
}
body{
    background-color: aqua;
}
h1,h2,h3{
    text-align: center;
    color: black;
    margin-bottom: 40px;
}
