#con{
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/271/821/desktop-wallpaper-cv-backgrounds-cv.jpg);
    font-style: italic;
    max-width: 900px;
    margin: auto;
    padding: 50px 20px 20px 20px ;
    border: 1px solid lightslategray;
    box-shadow: 6px 8px 2px black;
    border-radius: 20px;
}

#fejlec{
    
    text-align: center;
}
body{
    color: rgb(102, 134, 145);
}
h1,h2,h3{
    text-align: center;
    color: black;
}